# CODEOWNERS for .project metadata repository
# Changes to project metadata require maintainer review.
* @artberger @andy-fong @ashleywang1 @christian-posta @craigbox @danehans @chandler-solo @davidjumani @EItanya @ilrudie @jbohanon @jahvon @jenshu @howardjohn @kdorosh @lgadban @linsun @Nadine2016 @nfuden @npolshakova @puertomontt @PetrMc @Rachael-Graham @saiskee @sam-heilbron @ilackarms @sheidkamp @Sodman @shashankram @stevenctl @timflannagan @tjons @wendeh @williamgrh @ymesika @yuval-k 
